get_prop(appdomain, pih_disable_prop)
get_prop(appdomain, sussybox_fail_prop)
get_prop(appdomain, sussybox_osversion_prop)
get_prop(appdomain, vendor_persist_camera_prop)
